<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">
<head>
    <title>Portfolio</title>
</head>
<body>
<div layout:fragment="content" class="container bg-secondary">

    <div class="jumbotron">
        <h1 class="display-3">My name</h1>
        <div class="row">
        <p class="lead font-weight-bold col-sm">Email:</p>
        <p class="lead col-sm">email@email.com</p>
        </div>
        <div class="row">
        <p class="lead font-weight-bold col-sm">Linkedin:</p>
        <a class="lead col-sm" href="https://www.linkedin.com/in/profile/">My profile</a>
        </div>
        <div class="row">
            <p class="lead font-weight-bold col-sm">Github:</p>
            <a class="lead col-sm" href="https://github.com/profile">My public repositories</a>
        </div>
        <div class="row">
        <p class="lead font-weight-bold col-sm">Location:</p>
        <p class="lead col-sm">MyLocation</p>
        </div>

    </div>

</div>
</body>
</html>